# #GIJC2019: Demo Pandas to Google Spreadsheet

First things first:

```pip install --upgrade oauth2client
pip install gspread
pip install gspread-dataframe```

In [42]:
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials
import gspread
from gspread_dataframe import set_with_dataframe

Get your OAuth credentials (http://gspread.readthedocs.io/en/latest/oauth2.html) and share your Spreadsheet with the email address from your oAuth credentials (https://github.com/burnash/gspread/issues/226#issuecomment-97019477).

Use your credentials:

In [43]:
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('credentials.json', scope)
gc = gspread.authorize(credentials)

Specify your Google Spreadsheet's key:

In [44]:
spreadsheet_key = '1jGV6osPquTsWIzby53eHsDX7OFxwWst2ZC_rrMuNykM'

Take your dataset …

In [45]:
df = pd.read_csv('some_cheesy_data.csv')
df

   id                                       secret_stuff
0   1                     Danish fontina goat dolcelatte
1   2  Taleggio when the cheese comes out everybody's...
2   3  Say cheese cheese on toast cow red leicester b...
3   4  Paneer chalk and cheese cheesy feet manchego m...
4   5           Parmesan dolcelatte ricotta cheeseburger
5   6                          Cheesecake queso airedale
6   7  St. agur blue cheese mozzarella babybel cheese...
7   8  Cheesy grin feta fromage brie parmesan goat ta...
8   9  Pecorino cheeseburger jarlsberg dolcelatte cot...
9  10                     Babybel port-salut cheesy grin

… and export it to your Google Spreadsheet:

In [46]:
worksheet = gc.open_by_key(spreadsheet_key).worksheet('stuff')
set_with_dataframe(worksheet, df)

Now we can use and share the spreadsheet. Pro tip: Use cell protection for data that might change from the script side.

Example: http://j.mp/gijc_gspread

Later we can re-import Google Spreadsheet data, as well:

In [47]:
edited_data = worksheet.get_all_values()
pd.DataFrame(edited_data, columns=edited_data.pop(0))

   id                                       secret_stuff     category
0   1                     Danish fontina goat dolcelatte       Danish
1   2  Taleggio when the cheese comes out everybody's...            8
2   3  Say cheese cheese on toast cow red leicester b...            1
3   4  Paneer chalk and cheese cheesy feet manchego m...      Spanish
4   5           Parmesan dolcelatte ricotta cheeseburger            2
5   6                          Cheesecake queso airedale            6
6   7  St. agur blue cheese mozzarella babybel cheese...      unshure
7   8  Cheesy grin feta fromage brie parmesan goat ta...            2
8   9  Pecorino cheeseburger jarlsberg dolcelatte cot...            1
9  10                     Babybel port-salut cheesy grin  cheap_stuff

more stuff …